{% extends "baseview/base.html" %}
{% block content %}
<div class="container-fluid h-100">
    <div class="row">
        <div class="col col-sm-12 col-md-12 py-5">
            <div class="col col-md-4 text-center mx-auto">
                <div class="card border-light mb-3 box-shadow">
                      <div class="card-body">
                        <h5 class="card-title">Login</h5>
                          {% if error %}
                          <div class="alert alert-danger alert-dismissible fade show" role="alert">
                              {{ message }}
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          {% endif %}
                        <div class="card-text">
                            <form id="login-form" class="form" method="post" action="{% url 'login' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control {% if error %} border-danger {% endif %}" placeholder="Your Email" />
                                    <small class="text-left form-text text-danger d-none">This field in required.</small>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" class="form-control {% if error %} border-danger {% endif %}" placeholder="Your Password">
                                    <small class="text-left form-text text-danger d-none">This field in required.</small>
                                </div>
                                <div class="form-group">
                                    <input type="hidden" name="next" value="{{ next_url }}" />
                                </div>
                                <div class="text-left mt-4 clearfix">
                                    <button type="submit" class="btn btn-success">Login</button>
                                    <a class="text text-sm align-bottom float-right" href="/">Forgot Password?</a>
                                </div>
                            </form>
                        </div>
                      </div>
                      <div class="card-footer border-white bg-white text-center py-0">
                          <p class="text text-sm"><a class="text text-sm" href="{% url 'register' %}">Register here</a> if you don't have an account.</p>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}