.text-sm {
    font-size: 0.85rem;
}
#detail-table_filter {
    text-align: left !important;
}
#detail-table_length {
    text-align: left !important;
}
#detail-table_info {
    text-align: left !important;
}
/*#detail-table_filter {
    float: right;
}
.dataTables_length label {
    width: 50%;
}
.dataTables_length label .custom-select {
    width: 30% !important;
}*/
#detail-table_paginate {
    float: right;
}
.box-shadow {
-webkit-box-shadow: 2px 5px 2px 0px rgba(169,169,169,1);
-moz-box-shadow: 2px 5px 2px 0px rgba(169,169,169,1);
box-shadow: 2px 5px 2px 0px rgba(169,169,169,1);
}
.box-shadow:hover {
-webkit-box-shadow: 5px 10px 5px 0px rgba(169,169,169,1);
-moz-box-shadow: 5px 10px 5px 0px rgba(169,169,169,1);
box-shadow: 5px 10px 5px 0px rgba(169,169,169,1);
}

.card .fa-table, .card .fa-file-code-o, .card .fa-download {
    font-size: 3rem !important;
}
.dt-buttons button {
   margin-right: 0.2rem;
}
.footer {
  /*overflow-x: hidden;*/
}
.footer .dev-ul {
    list-style-type: circle;
    font-size: 0.9rem;
}
