.text-sm {
    font-size: 0.85rem;
}
#detail-table_filter {
    float: right;
}
.dataTables_length label {
    width: 50%;
}
.dataTables_length label .custom-select {
    width: 30% !important;
}
#detail-table_paginate {
    float: right;
}
.box-shadow {
-webkit-box-shadow: 2px 5px 2px 0px rgba(169,169,169,1);
-moz-box-shadow: 2px 5px 2px 0px rgba(169,169,169,1);
box-shadow: 2px 5px 2px 0px rgba(169,169,169,1);
}
.box-shadow:hover {
-webkit-box-shadow: 5px 10px 5px 0px rgba(169,169,169,1);
-moz-box-shadow: 5px 10px 5px 0px rgba(169,169,169,1);
box-shadow: 5px 10px 5px 0px rgba(169,169,169,1);
}

.fa-table, .fa-file-code-o, .fa-file-excel-o {
    font-size: 3rem !important;
}
.footer {
  /*overflow-x: hidden;*/
}
.footer .dev-ul {
    list-style-type: circle;
    font-size: 0.9rem;
}
